<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="views/bootstrap.min.css" rel="stylesheet">
    <link href="views/style.css" rel="stylesheet">

  <style>
    .noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    h1 {
      text-align: center;
      font-size: 300%;
    }
    h2 {
      text-align: center;
    }
    
    .images{
    	min-width: 20em;
    	border-style: solid;
    	border-color: #e61d1d;
    	margin-left: 5em;
      margin-right: 5em;
    	border-radius: 2em;
    }

    .images2p {
      min-width: 20em;
    	border-style: solid;
    	border-color: #2137ff;
    	margin-left: 5em;
      margin-right: 5em;
    	border-radius: 2em;
    }

    .images:hover{
    	border-color: #00c32a;
    	opacity: 75%;
    }

    .images2p:hover{
    	border-color: #00c32a;
    	opacity: 75%;
    }
  
    .btn {
      background-color: transparent;
      color: transparent;
      box-shadow: none;
      padding: 0;
      background: none;
    }

  </style>

  <div></div>


    <title>Homepage</title>
  </head>
  <body>
    <div class ="d-flex align-items-center justify-content-center" style="height: 200px">
    <h1><%= name %></h1>
    </div>
    <div class ="d-flex align-items-center justify-content-center" style="height: 450px">


    <form class="form-group" action="" method="GET">
      <button class="btn" name="foo" value="0"><img src="views/images/<%= char1 %>.jpg" class="images"/></button>
      <h2>Player 1</h2>
    </form>

    <form class="form-group" action="" method="GET">
      <button class="btn" name="foo" value="1"><img src="views/images/<%= char2 %>.jpg" class="images2p btn"/></button>
      <h2>Player 2</h2>
    </form>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="views/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
  </body>
</html>
