<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="views/bootstrap.min.css" rel="stylesheet">
    <link href="views/style.css" rel="stylesheet">

  <style>
    h1 {
      text-align: center;
      font-size: 300%;
    }
  </style>

    <title>Homepage</title>
  </head>
      <link href="views/heroes.css" rel="stylesheet">
  </head>
  <body>
<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
  <h1 class="display-5 fw-bold">Basic Gameplay Stats</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Here's a brief overview of your gameplay.</p>
    <div class="d-grid gap-2 justify-content-sm-center">
      <form action="fileupload" method="post" enctype="multipart/form-data">
        <input class="btn btn-primary" type="file" name="filetoupload"><br>
        <input type="submit">
      </form>
    </div>
  </div>
</div>
    <script src="views/bootstrap.bundle.min.js"></script>
  </body>
</html>